
#container{
    min-height: 100vh;
}

.nav{
    height: 70px;
    background-color: lightblue;
    border: 3px solid white;

}
.sidebar{
    padding: 10px;
    background-color: lightskyblue;
    min-height: 98vh;
    margin: 0px;
    border-top-right-radius: 10px;
}

i{
    font-size: 1.7rem;
    margin: 5px;
    
}

ul{
    font-size: 2rem;
}

li{
    list-style: none;
    margin: 10px;
    font-size: 1.5rem;
    margin-left: 0px;
    background-color: rgb(220, 246, 254);;

}

.list-group-item{
    background-color: rgb(0, 68, 110);
}
#search{
    background-color: lightblue;
}

#defaultItemsBox li{
    background-color: rgb(220, 246, 254);
    border: none;
}

.projectItems{
    background-color: rgb(13, 151, 151);
    width: 100%;
    margin-left: 0px;
}
.projectUL li{
    background-color: rgb(220, 246, 254);
    border: none;
}

.btn{
    height: 50px;
    font-weight: bolder;
}

#search{
    height: 50px;
}


.user-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.8rem;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1786e8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    margin-right: 10px;
  }
  .user-name {
    flex-grow: 1;
  }

  .projectSpace{
    background-color: lightskyblue;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    min-height: 80vh;
    border-radius: 20px;
  }

  .taskCard{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
  }